.tableClients {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px #b6b6b6;
  border: 2px solid black;
  border-collapse: collapse;
}

tr {
  height: 50px;
  border-bottom: 2px solid black;
}

thead {
  background-color: #cfe2f3;
}

th {
  font-weight: 600;
}

th,
td {
  padding-left: 5px;
  padding-right: 5px;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 2px solid black;
}

.error {
  background-color: #f4cccc;
}
